- content_for(:head) do
  = stylesheet_link_tag('dark-hive/jquery-ui-1.8.4.custom.css')

- content_for(:footer) do
  = javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js')
  = javascript_include_tag('jquery.pulse')
  :javascript
    $(document).ready(function() {
      $('#post_category').autocomplete({
        source: #{Post.categories.to_json}
      });

      (function(tags) {
        var split = function(val) {
          return val.split(/,\s*/);
        };

        var extractLast = function(term) {
          return split(term).pop();
        };

        $('#post_tag_string').autocomplete({
          minLength: 0,
          source: function(request, response) {
            // delegate back to autocomplete, but extract the last term
            response($.ui.autocomplete.filter(tags, extractLast(request.term)));
          },
          focus: function() {
            // prevent value inserted on focus
            return false;
          },
          select: function(event, ui) {
            var terms = split(this.value);
            // remove the current input
            terms.pop();
            // add the selected item
            terms.push(ui.item.value);
            // add placeholder to get the comma-and-space at the end
            terms.push('');
            this.value = terms.join(', ');
            return false;
          }
        });
      })(#{Post.tags.to_json});
    });

= form_for(['admin', @post], :remote => true) do |f|
  -if @post.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    %br
    = f.text_field :title, :class => 'width_10'
  .field
    = f.label :category
    %br
    = f.text_field :category, :class => 'width_10'
  .field
    = f.label :body
    %br
    = f.text_area :body, :class => 'width_10'
  .field
    = f.label :published
    = f.check_box :published
  .field
    = f.label :published_on
    %br
    = f.text_field :published_on
  .field
    = f.label :tag_string
    %br
    = f.text_field :tag_string, :class => 'width_10'
  .field
    = f.label :description
    %br
    = f.text_field :description, :class => 'width_10'
  .actions
    = f.submit 'Save'