- content_for(:footer) do
  = javascript_include_tag('plupload.full.min')
  :javascript
    $(document).ready(function() {
      var uploader = new plupload.Uploader({
        runtimes: 'html5,silverlight,flash',
        browse_button: 'uploader',
        url: '#{admin_uploads_path}',
        filters: [
          { title: 'Images', extensions: 'jpg,gif,png' }
        ],
        multipart_params: {
          authenticity_token: $('meta[name="csrf-token"]').attr('content'),
          post_id: #{@post.id}
        },
        flash_swf_url: '/swf/plupload.flash.swf',
        silverlight_xap_url: '/swf/plupload.silverlight.xap'
      });
      uploader.bind('FileUploaded', function() {
        $.get("#{pics_admin_post_path(@post, :format => 'js')}");
      });
      $('.pics li a:first]').facebox();
    });

%h1 Editing post

= render 'form'

= link_to('Show', admin_post_path(@post))
|
= link_to('Back', admin_posts_path)
|
= link_to('Upload Pics', '#', :id => 'uploader')

%br
%br
%ul.pics= render(:partial => 'pic', :collection => @post.pics)