- content_for(:head) do
  = stylesheet_link_tag('plupload.queue')

- content_for(:footer) do
  = javascript_include_tag('plupload.full.min', 'jquery.plupload.queue.min')
  :javascript
    $(document).ready(function() {
      $('.pics li a:first, a[rel=facebox]').facebox();
      $('#facebox .close').click(function() {
        $.get("#{pics_admin_post_path(@post, :format => 'js')}");
      });
    });

%h1 Editing post

= render 'form'

= link_to('Show', admin_post_path(@post))
|
= link_to('Back', admin_posts_path)
|
= link_to('Upload Pics', uploader_admin_post_path(@post), :rel => 'facebox')

%br
%br
%ul.pics= render(:partial => 'pic', :collection => @post.pics)