:css
  td {
    padding: 5px;
  }

  table tr:nth-child(2n) {
    background: grey;
    color: white;
  }

  table tr:nth-child(2n) a {
    color: white;
  }

%h1 Listing posts

= link_to 'New post', new_admin_post_path

%table
  %tr
    %th Title
    %th Published
    %th
    %th
    %th

  - @posts.each do |post|
    %tr{ :post_id => post.id }
      %td= post.title
      %td= post.published
      %td= link_to('Show', admin_post_path(post))
      %td= link_to('Edit', edit_admin_post_path(post))
      %td= link_to('Destroy', admin_post_path(post), :confirm => 'Are you sure?', :method => :delete, :remote => true)