%p
  %b Title:
  = @post.title
%p
  %b Category:
  = @post.category
%p
  %b Body:
  = @post.body
%p
  %b Published:
  = @post.published
%p
  %b Published on:
  = @post.published_on.to_s(:post)
%p
  %b Tags:
  = @post.tag_string
%p
  %b Description:
  = @post.description

= link_to 'Edit', edit_admin_post_path(@post)
\|
= link_to 'Back', admin_posts_path
