= open_graph_tag(:title, post.main_title)
= open_graph_tag(:type, 'article')
= open_graph_tag(:image, post.image_for)
= open_graph_tag(:url, post.permalink)
= open_graph_tag(:site_name, Darkblog2.config.title)
= open_graph_tag(:description, post.description)
