= open_graph_tag(:title, title_for(post))
= open_graph_tag(:type, 'article')
= open_graph_tag(:image, image_for(post))
= open_graph_tag(:url, post_permalink(post))
= open_graph_tag(:site_name, Darkblog2.config[:title])
= open_graph_tag(:description, post.description)
