- post = post_preview
%article.preview.main
  %h2.entry-title= post.link
  .meta
    = post.meta_time
    &raquo;
    Posted in
    %span.category= post.category_link
  .snippet!= post.truncated_body_html
  .extra_links= link_to('Keep Reading', post.permalink, :class => 'read_more fleft')