%article
  %h2= link_to(post_preview.title, post_permalink(post_preview))
  .meta
    - if admin_signed_in?
      = link_to('Edit', edit_admin_post_path(post_preview))
      &raquo;
    %time{ :datetime => post_preview.published_on.xmlschema }= post_preview.published_on.to_s(:post)
    &raquo;
    Posted in
    %span.category= category_link(post_preview.category)
  .snippet!= truncate(strip_tags(post_preview.body_html), :length => 450)
  .extra_links
    = link_to('Keep Reading', post_permalink(post_preview), :class => 'read_more fleft')
    = link_to('Comments', post_permalink(post_preview, :anchor => 'disqus_thread'), :class => 'fright')