- post = post_preview
%article.preview.main
  %h2.entry-title= post_link(post)
  .meta
    %time{ :datetime => post.published_on.xmlschema }= post.published_on.to_s(:post)
    &raquo;
    Posted in
    %span.category= category_link(post.category)
  .snippet!= truncate(strip_tags(post.body_html), :length => 450)
  .extra_links
    = link_to('Keep Reading', post_permalink(post), :class => 'read_more fleft')
    = link_to('Comments', post_permalink(post, anchor: 'disqus_thread'), :class => 'fright')