- content_for(:description, @post.description)
.post
  %h1= link_to(@post.title, post_permalink(@post))
  .meta
    %time{ :datetime => @post.published_on.xmlschema }= @post.published_on.to_s(:post)
    &raquo;
    Posted in
    %span.category= category_link(@post.category)
  .content!= @post.body_html
  = render(:partial => 'layouts/add_to_any')