- unless inline?
  - content_for(:title, title_for(@post))
  - content_for(:description, @post.description)
  - content_for(:canonical, post_permalink(@post))
  - unless @post.published
    = javascript_include_tag('http://js.pusherapp.com/1.5/pusher.min.js')
    :javascript
      (function(server) {
        server.bind('post-update', function(post) {
          $('.post .content').html(post.html);
          setupEmbedly();
        });
      })(new Pusher('#{Pusher.key}', '#{@post.pusher_channel}'));
.post.hentry
  - cache(@post.cache_key) do
    %h1.entry-title= post_link(@post)
    .meta
      %time{ :datetime => @post.published_on.xmlschema }= @post.published_on.to_s(:post)
      &raquo;
      Posted in
      %span.category= category_link(@post.category)
      &raquo;
      Tagged with
      %span.tags
        - @post.tags.each do |tag|
          = tag_link(tag)
    - unless inline?
      = link_to('Tweet', 'http://twitter.com/share', :class => 'twitter-share-button', 'data-count' => 'horizontal', 'data-via' => 'darkhelmetlive')
    .content!= @post.body_html
    .clear
  - unless inline?
    - cache('post_extras') do
      = render(:partial => 'layouts/post_extras')
      = render(:partial => 'posts/disqus_single')
- content_for(:footer) do
  = javascript_include_tag('http://platform.twitter.com/widgets.js')