- content_for(:head) do
  = render('posts/open_graph', :post => @post)

- content_for(:title, @post.main_title)
- content_for(:description, @post.description)
- content_for(:canonical, @post.permalink)
%article.post.hentry
  %h1.entry-title= @post.link
  .meta= render('posts/meta', post: @post)
  %hr
  .content.entry-content!= @post.body_html
  .clear
  = render('posts/sharing', post: @post)
  = render('posts/related', post: @post)
