%section#search
  = form_tag('/search', method: :get) do
    = text_field_tag('query', nil, placeholder: "Search #{Darkblog2.config.title}")
    = image_submit_tag(image_path('magnifier.png'))
%p
  = license_image
  %br
  This work is licensed under a
  = license_link
  %br
  = link_to('Home', root_path)
  &middot;
  = link_to('About', page_path(:about))
  &middot;
  = link_to('Talks', page_path(:talks))
  &middot;
  = link_to('Projects', page_path(:projects))
  &middot;
  = link_to('Contact', page_path(:contact))
  &middot;
  = link_to('Disclaimer', page_path(:disclaimer))
  &middot;
  = link_to('Sitemap', sitemap_path(:format => :xml))
  %br
  Design by Daniel Huckstep

= render('layouts/extras')
= yield(:footer)