= content_type_tag
= csrf_meta_tag
= title_tag
= description_tag
= canonical_tag
= opensearch_tag
= sitemap_tag
= favicon_tag
= rss_tag
= index_tag
= font_tag('Droid+Sans:regular,italic,bold,bolditalic')
= font_tag('Droid+Sans+Mono')
!= Bundles.stylesheet_bundles[:all].to_html(:all)
= stylesheet_link_tag('darkblog')
:javascript
  if (top.location != self.location) { top.location = self.location.href; }