%h1#title.left= link_to('Verbose Logging', '/')
%nav.right
  %ul
    %li= link_to('Home', '/')
    %li= link_to('About', '/about')
    %li= link_to('Talks', '/talks')
    %li= link_to('Contact', '/contact')
    %li= link_to('Disclaimer', '/disclaimer')
.clear
%em#tagline software development with some really amazing hair