/[if lt IE 9]
  = javascript_include_tag('http://html5shim.googlecode.com/svn/trunk/html5.js')
= content_type_tag
= csrf_meta_tag
= title_tag
= description_tag
= canonical_tag
= opensearch_tag
= sitemap_tag
= favicon_tag
= rss_tag
= index_tag
= readability_tag
= font_tag('Droid+Sans:regular,italic,bold,bolditalic')
= font_tag('Droid+Sans+Mono')
= stylesheet_link_tag(Bundles.stylesheet_bundles[:all].to_path)
%link{ :rel => 'apple-touch-icon', :href => 'http://www.gravatar.com/avatar/48409ce1953c290351fcb875b20eccbb.png?s=114' }

:javascript
  if (top.location != self.location) { top.location = self.location.href; }

- if Rails.env.development?
  :javascript
    var disqus_developer = 1;

= content_for(:head)

- if Rails.env.production?
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2062105-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();