%h1#title.left= link_to(Darkblog2.config[:title], '/')
%nav.right
  %ul
    %li= link_to('Home', '/')
    %li= link_to('About', '/about')
    %li= link_to('Talks', '/talks')
    %li= link_to('Contact', '/contact')
    %li= link_to('Disclaimer', '/disclaimer')
#where
  = link_to(image_tag('icons/twitter.png', :alt => 'Twitter Icon'), 'http://twitter.com/darkhelmetlive', :title => 'Follow me on Twitter')
  = link_to(image_tag('icons/linkedin.png', :alt => 'Linkedin Icon'), 'http://ca.linkedin.com/in/darkhelmetlive', :title => 'Connect with me on Linkedin')
  = link_to(image_tag('icons/skype.png', :alt => 'Skype Icon'), 'skype:darkhelmetlive?call', :title => 'Call on me! Call me! Call on me! Call me...on Skype')
  = link_to(image_tag('icons/flickr.png', :alt => 'Flickr Icon'), 'http://www.flickr.com/photos/darkhelmetlive/', :title => 'My pictures on Flickr')
= link_to(image_tag('rss.png', :alt => 'RSS'), '/FIXME', :class => 'rss', :title => 'Get new articles in your RSS reader.')
#search
  = form_tag('/search', :method => :get) do
    = text_field_tag('q', nil, :class => 'width_3')
    = image_submit_tag(image_path('magnifier.png'))
.clear
%em#tagline= Darkblog2.config[:tagline]