!!! 5
%html
  %head= render('layouts/head')
  %body
    %header= render('layouts/header')
    .clear
    .row
      %section#content.col.col_11= yield
      - cache('sidebar') do
        %aside#sidebar.col.col_5= render('layouts/sidebar')
      - cache('footer') do # Footer might end up with extra stuff
        .clear
        %footer.col.col_16= render('layouts/footer')
        #extras= render('layouts/extras')
      #extra_footer= yield(:footer)
    :javascript
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4df19698613f5d6616000003');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();