!!! 5
%html
  %head= render(:partial => 'layouts/head')
  %body
    - cache('header') do
      %header= render(:partial => 'layouts/header')
    .clear
    .row
      %section#content.col.col_11= yield
      - cache('sidebar') do
        %aside#sidebar.col.col_5= render(:partial => 'layouts/sidebar')
      - cache('footer') do # Footer might end up with extra stuff
        .clear
        %footer.col.col_16= render(:partial => 'layouts/footer')
        #extras= render(:partial => 'layouts/extras')
      #extra_footer= yield(:footer)