!!! 5
%html
  %head= render(:partial => 'layouts/head')
  %body
    - cache('header') do
      %header= render(:partial => 'layouts/header')
    .clear
    .row
      %section#content.col.col_11= yield
      - cache('sidebar') do
        %aside#sidebar.col.col_5= render(:partial => 'layouts/sidebar')
      .clear
      %footer.col.col_16= render(:partial => 'layouts/footer')
      = render(:partial => 'layouts/extras')