!!! 5
%html
  %head= render(:partial => 'layouts/head')
  %body
    %header= render(:partial => 'layouts/header')
    .clear
    .row
      #content.col.col_11= yield
      %aside#sidebar.col.col_5= render(:partial => 'layouts/sidebar')
      .clear
      %footer.col.col_16= render(:partial => 'layouts/footer')